@model List<User>;
<link href="~/css/site.css" rel="stylesheet" />
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            if (user.Role != true)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-controller="Admin" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            
        }
    </tbody>
</table>
