@{ViewData["Title"] = "Admin Tools";}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin tools</title>
    <link href="~/css/site.css" rel="stylesheet">
    <a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
</head>
<body class="back">
    <header>
        <h1>Admin tools</h1>
    </header>

    <nav>
        <ul>
            <li><a asp-area="" method="get" asp-controller="Admin" asp-action="GetAllUser">All User View</a></li>
        
        </ul>
        <ul>
            <li> <a asp-area="" asp-controller="UserWork" asp-action="UserTools">User Tools</a></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2023 Все права защищены</p>
    </footer>
</body>
</html>
