<html>
<head>
    <title>Администраторские инструменты</title>
</head>
<body>
    <h1>Администраторские инструменты</h1>
    <nav>
        <ul>
            <li>  <a asp-area="" method="get" asp-controller="Admin" asp-action="GetAllUser">View all Users</a></li>
        </ul>
    </nav>
</body>
</html>
