<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Notebook</title>
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body class="back">
    <header>
        <div class="header_up">

            <a href="/auth/authpage">Log in</a>
            <a class="abutton" href="/auth/regpage">Sing up</a>
        </div>
        <hr />
    </header>

    <div>
        <h1><strong>Welcom to my site Notebook</strong></h1>
        <p>You have a  <a href="/auth/authpage">Log in</a> or  <a href="/auth/regpage">Sing up</a></p>
    </div>

</body>
</html>

