@{ViewData["Title"] = "Welcom!";}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/site.css" rel="stylesheet" type="text/css">
    <title>Notebook</title>
</head>
<body class="back">
    
    <div class="containerindex">
        <div>
            <a class="abutton" href="/auth/authpage">Log in</a>
            <a class="abutton" href="/auth/regpage">Sing up</a>
        </div>
    </div>
    <div>
        <h1><strong>Welcom to my site Notebook</strong></h1>
        <p>You have a  <a href="/auth/authpage">Log in</a> or  <a href="/auth/regpage">Sing up</a></p>
    </div>
    
</body>
</html>

