<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/Home.css">
 
</head>
<body>
    <header>
        <div class="header_up">
            <a href="/auth/authpage"><i class="fas fa-sign-in-alt"></i> Log in</a>
            <a class="abutton" href="/auth/regpage"><i class="fas fa-user-plus"></i> Sign up</a>
        </div>
    </header>

    <div>
        <h1><strong>Welcome to my site Notebook</strong></h1>
        <p>You must <a href="/auth/authpage">log in</a> or <a href="/auth/regpage">sign up</a> to access the content</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>

