<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorize</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="~/css/Auth.css" />

</head>
<body>
    <form method="post" asp-action="Auth" asp-controller="Auth">
        <h1>Authorize</h1>
        <div>
            <label>Email:</label>
            <input type="email" name="Email" maxlength="32" required />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="Password" maxlength="32" required />
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        <div>
            <p>Don't have an account? <a href="/auth/regpage">Sign up</a></p>
        </div>
    </form>
</body>
</html>






