@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model TESTINGAPP.Common.Dto.UserAuthDto;
<link href="~/css/site.css" rel="stylesheet" />
@if (User.Identity.IsAuthenticated)
{
    <a @*asp-controller="Home" asp-action="GetUsers" method="Get"*@>Get Users</a>
}

<form method="post" asp-action="RegPage" asp-controller="Auth">
 

    <div>
        <label>Почта:</label>
        <input type="email" name="Email" maxlength="32" />
    </div>


    <div>
        <label>Пароль:</label>
        <input type="password" name="Password" maxlength="32" />
    </div>


    <div>
        <input type="submit" value="Вход">
    </div>
</form>


