@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model TESTINGAPP.Common.Dto.UserAuthDto;
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/login.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Notebook</title>
</head>
<body>
    <form method="post" asp-action="Auth" asp-controller="Auth">
        <div>
            <label>Email:</label>
            <input type="email" name="Email" maxlength="32" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="Password" maxlength="32" />
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</body>
</html>






