@model TESTINGAPP.Common.Dto.UserCreateDto
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/site.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Записная книжка</title>
</head>
<body>
<form method="post" asp-action="RegPage" asp-controller="Auth">
    <div>
        <label>Имя пользователя:</label>
        <input type="text" name="Name" maxlength="32" min="5" />
    </div>
   
    <div>
        <label>Почта:</label>
        <input type="email" name="Email" maxlength="32" />
    </div>
   

    <div>
        <label>Пароль:</label>
        <input type="password" name="Password" maxlength="32" min="12" />
    </div>
   
    <div>
    <label>Возраст:</label>
        <input type="text" name="Age" maxlength="3" min="1" />
    </div>
    <div>
        <input type="submit" value="Регестрация">
    </div>
</form>
</body>
</html>
