@model TESTINGAPP.Common.Dto.UserCreateDto
<form asp-controller="Auth" asp-action="RegPage" method="post">

    <div class="form-group">
        <label class="control-label">Email: </label>
        @Html.TextBoxFor(x => x.Email, new { size = 32 })
    </div>

    <div class="form-group">
        <label class="control-label">Password: </label>
        @Html.TextBoxFor(x => x.Password, new { size = 32 })
    </div>

    <div class="form-group">
        <label class="control-label">Name: </label>
        @Html.TextBoxFor(x => x.Name, new { size = 32 })
    </div>

    <div class="form-group">
        <label class="control-label">Age: </label>
        @Html.TextBoxFor(x => x.Age, new { size = 32 })
    </div>

    <input class="button" type="submit" value="Auth">
</form>