@model Notebook.Common.Dto.UserCreateDto
@{ViewData["Title"] = "Registration";}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/Auth.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Notebook</title>
</head>
<body class="back">
  
    
<form method="post" asp-action="RegPage" asp-controller="Auth">
        @try
        {
            if (string.IsNullOrEmpty(Model.Email) || string.IsNullOrEmpty(Model.Password) || string.IsNullOrEmpty(Model.Name) || string.IsNullOrEmpty(Model.Age))
            {
                <h2>Enter all data!</h2>
            }
        }
        catch (Exception)
        {
        }
    <div>
        <label>User name:</label>
        <input type="text" name="Name" maxlength="32" min="5" />
    </div>
   
    <div>
        <label>Email:</label>
        <input type="email" name="Email" maxlength="32" />
    </div>
   

    <div>
        <label>Password:</label>
        <input type="password" name="Password" maxlength="32" min="12" />
    </div>
   
    <div>
    <label>Age:</label>
        <input type="text" name="Age" maxlength="3" min="1" />
    </div>
    <div>
        <input type="submit" value="Regestration">
    </div>
</form>
</body>
</html>
