@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model TESTINGAPP.Common.Dto.RecordDto;
@{ViewData["Title"] = "Create Record";}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Record Add.css" rel="stylesheet" />
    <title>Notebook</title>
    <a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
</head>
<body class="back">
    <form asp-action="Create" asp-controller="UserWork" method="post" enctype="multipart/form-data">
        <div>
            <label for="title">Tittle:</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div>
            <label for="categories">Categories:</label>
            <input type="text" id="categories" name="categories">
        </div>
        <div>
            <label for="url">Url:</label>
            <input type="url" id="url" name="url">
        </div>
        <div>
            <label for="photo">Photo:</label>
            <input type="file" id="file" name="file"  accept="image/*">
        </div>
        <div>
            <input type="submit" value="Add">
        </div>
    </form>
</body>
</html>
