
<link href="~/css/site.css" rel="stylesheet" />
<h1>Записная книжка</h1>
<form action="" method="post">
   <div>
        <label for="note">Заметка:</label>
        <textarea id="note" name="note" placeholder="Введите заметку" required></textarea>
   </div>
    <div>
        <label for="note">Изображение:</label>
        <input type="file" id="img" name="img" placeholder="Добавьте изображение" required>
    </div>
    <div>
        <label for="note">Категория:</label>
        <select id="cat" name="cat">
           
        </select>
    </div>
    <div>
        <label for="note">Ссылка:</label>
        <input type="url" id="url" name="url" placeholder="Ссылка" required>
    </div>
   <div>
        <input type="submit" value="Добавить">
   </div>

</form>
