@model TESTINGAPP.Common.Dto.RecordDto
@{
    var httpContext = ViewContext.HttpContext;
    int? userId = httpContext.Session.GetInt32("UserId");
}
@{ViewData["Title"] = "Edit Record";}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/EditUser.css" rel="stylesheet">
    <a  asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
</head>
<body class="back">
    <h2 class="h2">Edit Record</h2>
    <div class="container">
       
        <form asp-action="SaveEditRecord" asp-controller="UserWork" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@ViewData["Id"]" />
            <input type="hidden" name="UserId" value="@userId" />
            <div>
                <label for="title">Title:</label>
                <input asp-for="Title">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea asp-for="Description" class="description"></textarea>
            </div>
            <div>
                <label for="categories">Categories:</label>
                <input asp-for="Categories" >
            </div>
            <div>
                <label for="url">Url:</label>
                <input asp-for="Url">
            </div>
            <div>
                @if (Model.Photo != null)
                {
                    <img style="max-height: 200px; max-width: 100px;" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" alt="Record photo" />
                    <div id="delete-photo">
                        <label for="DeletePhoto">Удалить фотографию</label>
                        <input type="checkbox" id="DeletePhoto" name="DeletePhoto" value="true">
                    </div>
                }
                else
                {
                    <div id="delete-photo">
                        <label for="DeletePhoto">Photo:</label>
                        <input type="file" id="file" name="Photo" accept="image/*">
                    </div>
                }
            </div>
            <div id="upload-photo" style="display:none;">
                <label for="photo">Photo:</label>
                <input type="file" id="file" name="Photo" accept="image/*">
            </div>
           
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
    <script src="/js/site.js"></script>
</body>
</html>