@model TESTINGAPP.Common.Dto.RecordCreateDto
<!DOCTYPE html>
<html>
<head>
    <title>Edit Record</title>
    <link href="~/css/Record Add.css" rel="stylesheet" />
    <a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
</head>
<body>
    <div class="container">
        <h2>Edit Record</h2>
        <form asp-action="SaveEditRecord" asp-controller="UserWork" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@ViewData["Id"]" />
            <input type="hidden" name="UserId" value="@ViewData["UserId"]" />
            <div>
                <label for="title">Название:</label>
                <input asp-for="Title">
            </div>
            <div>
                <label for="description">Описание:</label>
                <textarea asp-for="Description" class="description"></textarea>
            </div>
            <div>
                <label for="categories">Категории:</label>
                <input asp-for="Categories" >
            </div>
            <div>
                <label for="url">Ссылка:</label>
                <input asp-for="Url">
            </div>
            <div>
                <label for="photo">Фотография:</label>
                <input type="file" id="Photo" name="Photo" accept="image/*">
            </div>
            <div>
                <input type="submit" value="Добавить">
            </div>
        </form>
    </div>
</body>
</html>