@{
	var httpContext = ViewContext.HttpContext;
	int? userId = httpContext.Session.GetInt32("UserId");
}
@{ViewData["Title"] ="Tools";}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="~/css/tools.css" rel="stylesheet">
	<a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
	
</head>
<body class="back">
	<nav class="conteiner">
		<ul>
			<li><a asp-area="" asp-controller="UserWork" asp-action="GetListUserdRecord">List Record</a></li>
		</ul>
		<ul>
			<li>
				<a asp-area="" asp-controller="UserWork" asp-action="AddRecord">New Record</a>
			</li>
		</ul>
		<ul>
			<li>
				<form asp-area="" asp-controller="Admin" asp-action="EditUser" method="post">
					<button type="submit">Profile</button>
					<input type="hidden" name="id" value="@userId" />
				</form>
			</li>
		</ul>
	</nav>
</body>
</html>
