<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Выбор инструмента</title>
</head>
<body>
	<div class="container">
		<div>
			<a asp-area="" asp-controller="UserWork" asp-action="AllRecord">List Record</a>
		</div>
		<div>
			<a asp-area="" asp-controller="UserWork" asp-action="AddRecord">New Record</a>
		</div>
	</div>
</body>
</html>
