<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Выбор инструмента</title>
	<link href="~/css/tools.css" rel="stylesheet">
	<a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
</head>
<body>
	
	<div class="container">
		<div>
			<a asp-area="" asp-controller="UserWork" asp-action="GetListUserdRecord">List Record</a>
		</div>
		<div>
			<a asp-area="" asp-controller="UserWork" asp-action="AddRecord">New Record</a>
		</div>
	</div>
</body>
</html>
