/* Базовый размер шрифта */
html {
    font-size: 16px;
}

/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

/* Установка полной высоты для html-элемента */
html {
    position: relative;
    min-height: 100%;
}

/* Шрифт по умолчанию для body-элемента */
body {
    font-family: Arial, sans-serif;
}

/* стиль для всех input */
input {
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: auto;
    margin: auto;
}

/* стиль для всех кнопок */
button {
   justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    margin: auto;
}

/* стиль для всех таблиц */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: auto;
    margin: auto;
}

    table th, table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
        font-size: 16px;
    }
.del {
    background-color: red;
}
    .del a:hover {
        color:darkred;
    }
.edit {
    background-color:grey
}
.edit a:hover {
    color:dimgray;
}
    table th {
        background-color: #007bff;
        color: #fff;
    }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    padding: 10px;
    background-color: #f8f9fa;
}

    .container a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        font-size: 18px;
    }

        .container a:hover {
            color: yellowgreen;
        }

.footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
}

    .footer a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        font-size: 14px;
    }

        .footer a:hover {
            color: #007bff;
        }
