/* Базовый размер шрифта */
html {
    font-size: 16px;
}

/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

/* Установка полной высоты для html-элемента */
html {
    position: relative;
    min-height: 100%;
}

/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Стили для ссылок */
a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
}

    a:hover {
        background-color: #0062cc;
    }

/* Стиль для кнопок */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }
.del {
    background-color: red;
}
    .del a:hover {
        color:darkred;
    }
.edit {
    background-color:grey
}
.edit a:hover {
    color:dimgray;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
